# How to collect the first 10 or every 4th event ?

Written by: **Taiob Ali**

**https://SqlWorldWide.com**

Reference:

[Try a sample: Using the counter predicate for event sampling](https://blogs.msdn.microsoft.com/extended_events/2010/05/14/try-a-sample-using-the-counter-predicate-for-event-sampling/)

[Reading event data 101: Whatâ€™s up with the XML?](https://blogs.msdn.microsoft.com/extended_events/2010/03/08/reading-event-data-101-whats-up-with-the-xml/)


This script will 
1. Create an Extended Event trace defination to capture first 10 events
2. Run the trace
3. Look at the collected data
4. Stop the trace
5. Clean up
6. Sample defination about how to collect every 4th event
7. Sample defination about collecting wait details when exceeds threshold
8. Few helper code in regard to predicates

Housekeeping--deleting old files if exist

**Do not use xp\_cmdshell unless you know the risk**

In [1]:
DECLARE @deletefile varchar(20)='target_reading*.*';
DECLARE @cmd NVARCHAR(MAX) =  
'xp_cmdshell ''del "C:\temp\' + @deletefile + '"''';
EXEC (@cmd)

--Crate a session to collect the first 10 events only
IF EXISTS(SELECT *
FROM sys.server_event_sessions
WHERE name='counter_test_10')
    DROP EVENT session counter_test_10 ON SERVER;
GO
CREATE EVENT SESSION counter_test_10 ON SERVER
ADD EVENT sqlserver.sql_statement_completed
    (ACTION (sqlserver.sql_text)
		WHERE sqlserver.sql_text like '%This is the%'
    AND package0.counter <= 10)
ADD TARGET package0.asynchronous_file_target
    (SET filename=N'C:\Temp\target_reading.xel')
WITH (MAX_DISPATCH_LATENCY = 1 SECONDS)
GO
--Start the session
ALTER EVENT SESSION counter_test_10 ON SERVER  
STATE = start;  
GO

output
Could Not Find C:\temp\target_reading*.*
NULL


This script will run 100 Select statement. You can run this in any database

In [2]:
--prevents the message about the number of rows affected from being displayed
SET NOCOUNT ON; 
GO
SELECT 'This is the 1 statement'
GO
SELECT 'This is the 2 statement'
GO
SELECT 'This is the 3 statement'
GO
SELECT 'This is the 4 statement'
GO
SELECT 'This is the 5 statement'
GO
SELECT 'This is the 6 statement'
GO
SELECT 'This is the 7 statement'
GO
SELECT 'This is the 8 statement'
GO
SELECT 'This is the 9 statement'
GO
SELECT 'This is the 10 statement'
GO
SELECT 'This is the 11 statement'
GO
SELECT 'This is the 12 statement'
GO
SELECT 'This is the 13 statement'
GO
SELECT 'This is the 14 statement'
GO
SELECT 'This is the 15 statement'
GO
SELECT 'This is the 16 statement'
GO
SELECT 'This is the 17 statement'
GO
SELECT 'This is the 18 statement'
GO
SELECT 'This is the 19 statement'
GO
SELECT 'This is the 20 statement'
GO
SELECT 'This is the 21 statement'
GO
SELECT 'This is the 22 statement'
GO
SELECT 'This is the 23 statement'
GO
SELECT 'This is the 24 statement'
GO
SELECT 'This is the 25 statement'
GO
SELECT 'This is the 26 statement'
GO
SELECT 'This is the 27 statement'
GO
SELECT 'This is the 28 statement'
GO
SELECT 'This is the 29 statement'
GO
SELECT 'This is the 30 statement'
GO
SELECT 'This is the 31 statement'
GO
SELECT 'This is the 32 statement'
GO
SELECT 'This is the 33 statement'
GO
SELECT 'This is the 34 statement'
GO
SELECT 'This is the 35 statement'
GO
SELECT 'This is the 36 statement'
GO
SELECT 'This is the 37 statement'
GO
SELECT 'This is the 38 statement'
GO
SELECT 'This is the 39 statement'
GO
SELECT 'This is the 40 statement'
GO
SELECT 'This is the 41 statement'
GO
SELECT 'This is the 42 statement'
GO
SELECT 'This is the 43 statement'
GO
SELECT 'This is the 44 statement'
GO
SELECT 'This is the 45 statement'
GO
SELECT 'This is the 46 statement'
GO
SELECT 'This is the 47 statement'
GO
SELECT 'This is the 48 statement'
GO
SELECT 'This is the 49 statement'
GO
SELECT 'This is the 50 statement'
GO
SELECT 'This is the 51 statement'
GO
SELECT 'This is the 52 statement'
GO
SELECT 'This is the 53 statement'
GO
SELECT 'This is the 54 statement'
GO
SELECT 'This is the 55 statement'
GO
SELECT 'This is the 56 statement'
GO
SELECT 'This is the 57 statement'
GO
SELECT 'This is the 58 statement'
GO
SELECT 'This is the 59 statement'
GO
SELECT 'This is the 60 statement'
GO
SELECT 'This is the 61 statement'
GO
SELECT 'This is the 62 statement'
GO
SELECT 'This is the 63 statement'
GO
SELECT 'This is the 64 statement'
GO
SELECT 'This is the 65 statement'
GO
SELECT 'This is the 66 statement'
GO
SELECT 'This is the 67 statement'
GO
SELECT 'This is the 68 statement'
GO
SELECT 'This is the 69 statement'
GO
SELECT 'This is the 70 statement'
GO
SELECT 'This is the 71 statement'
GO
SELECT 'This is the 72 statement'
GO
SELECT 'This is the 73 statement'
GO
SELECT 'This is the 74 statement'
GO
SELECT 'This is the 75 statement'
GO
SELECT 'This is the 76 statement'
GO
SELECT 'This is the 77 statement'
GO
SELECT 'This is the 78 statement'
GO
SELECT 'This is the 79 statement'
GO
SELECT 'This is the 80 statement'
GO
SELECT 'This is the 81 statement'
GO
SELECT 'This is the 82 statement'
GO
SELECT 'This is the 83 statement'
GO
SELECT 'This is the 84 statement'
GO
SELECT 'This is the 85 statement'
GO
SELECT 'This is the 86 statement'
GO
SELECT 'This is the 87 statement'
GO
SELECT 'This is the 88 statement'
GO
SELECT 'This is the 89 statement'
GO
SELECT 'This is the 90 statement'
GO
SELECT 'This is the 91 statement'
GO
SELECT 'This is the 92 statement'
GO
SELECT 'This is the 93 statement'
GO
SELECT 'This is the 94 statement'
GO
SELECT 'This is the 95 statement'
GO
SELECT 'This is the 96 statement'
GO
SELECT 'This is the 97 statement'
GO
SELECT 'This is the 98 statement'
GO
SELECT 'This is the 99 statement'
GO
SELECT 'This is the 100 statement'
GO

Looking at the data.

In [3]:
SELECT CAST(event_data AS XML) xml_event_data, *
FROM sys.fn_xe_file_target_read_file('C:\Temp\target_reading*.xel', 'C:\Temp\target_reading*.xem', NULL, NULL);

Check how many event collected? You can also use this logic to stop the trace.

In [4]:
SELECT COUNT(0) AS [howmanyevent]
FROM sys.fn_xe_file_target_read_file('C:\Temp\target_reading*.xel', 'C:\Temp\target_reading*.xem', NULL, NULL);

Stop the session.

In [5]:
ALTER EVENT SESSION counter_test_10 ON SERVER
STATE = stop;

List of columns collected with the event which helps you writing the xpath query.

In [6]:
SELECT *
FROM sys.dm_xe_object_columns
WHERE column_type = 'data' AND object_name IN ('sql_statement_completed')
ORDER BY column_id;

Extract the result.

In [7]:
SELECT
  event_xml.value('(./@name)', 'varchar(1000)') as event_name,
  event_xml.value('(./@timestamp)', 'varchar(1000)') as timestamp_UTC,
  event_xml.value('(./data[@name="duration"]/value)[1]', 'bigint') as duration,
  event_xml.value('(./data[@name="cpu_time"]/value)[1]', 'bigint') as cpu,
  event_xml.value('(./data[@name="physical_reads"]/value)[1]', 'bigint') as physical_reads,
  event_xml.value('(./data[@name="logical_reads"]/value)[1]', 'bigint') as logical_reads,
  event_xml.value('(./data[@name="writes"]/value)[1]', 'bigint') as writes,
  event_xml.value('(./data[@name="row_count"]/value)[1]', 'int') as row_count,
  event_xml.value('(./action[@name="sql_text"]/value)[1]', 'varchar(4000)') as sql_text
FROM (SELECT CAST(event_data AS XML) xml_event_data
  FROM sys.fn_xe_file_target_read_file('C:\Temp\target_reading*.xel', 'C:\Temp\target_reading*.xem', NULL, NULL)) AS event_table
			CROSS APPLY xml_event_data.nodes('//event') n (event_xml);

### Cleanup

Drop the session.

In [8]:
IF EXISTS(SELECT *
FROM sys.server_event_sessions
WHERE name='counter_test_10')
  DROP EVENT session counter_test_10 ON SERVER;
GO

## Create a session to collect every 4th event

I am not going to use this definition to collect any information.

You can take it and modify based on your need.

In [9]:
IF EXISTS(SELECT *
FROM sys.server_event_sessions
WHERE name='counter_test_4th')
  DROP EVENT session counter_test_4th ON SERVER;
GO
CREATE EVENT SESSION counter_test_4th ON SERVER
ADD EVENT sqlserver.sql_statement_completed
  (ACTION (sqlserver.sql_text)
  WHERE sqlserver.sql_text like '%This is the%'
	AND package0.divides_by_uint64(package0.counter,4))
	--AND sqlserver.session_id = 54)
ADD TARGET package0.asynchronous_file_target
  (SET filename=N'C:\Temp\target_reading1.xel')
WITH (MAX_DISPATCH_LATENCY = 1 SECONDS);
GO

## Create a stored procedure for demo purpose

Download and restore AdventureWorks backup from [github](https://github.com/Microsoft/sql-server-samples/releases/tag/adventureworks) before you attempt the scripts below.

I will use this SP with the next demo.

In [10]:
USE [AdventureWorks];
GO
--Create a stored procedure 
DROP PROCEDURE IF EXISTS Sales.SalesFromDate;
GO
CREATE PROCEDURE Sales.SalesFromDate
  (@StartOrderdate datetime)
AS
SELECT *
FROM Sales.SalesOrderHeader AS h
  INNER JOIN Sales.SalesOrderDetail AS d ON h.SalesOrderID = d.SalesOrderID
WHERE (h.OrderDate >= @StartOrderdate);
GO

## Create a session to capture wait_type

With this session you can capture a particular wait type when it occur over a threshold while executing a module (Store procudure). I only want to know if the threshold exceeded. So, only caputuring few (4 in this case) when threshold exceed.

Housekeeping--deleting old files if exist.

Do not use xp_cmdshell unless you know the risk.

In [11]:
DECLARE @deletefile varchar(20)='LongRunningSP*.*';
DECLARE @cmd NVARCHAR(MAX) =  
'xp_cmdshell ''del "C:\temp\' + @deletefile + '"''';
EXEC (@cmd)

--Drop session if exists
IF EXISTS(SELECT *
FROM sys.server_event_sessions
WHERE name='LongRunningSP')
  DROP EVENT session LongRunningSP ON SERVER;
GO

--Create the session
CREATE EVENT SESSION LongRunningSP ON SERVER 
ADD EVENT sqlos.wait_info(
  ACTION(sqlserver.sql_text)
  WHERE ([package0].[equal_uint64]([wait_type],(179))
    AND [opcode]=(1)
    AND [sqlserver].[like_i_sql_unicode_string]([sqlserver].[sql_text],N'%SalesFromDate%') 
    AND [package0].[less_than_uint64]([package0].[counter],(4005))
    AND [package0].[greater_than_uint64]([package0].[counter],(4000))     
    ))
ADD TARGET package0.event_file(SET filename=N'c:\temp\LongRunningSP')
WITH (MAX_DISPATCH_LATENCY = 1 SECONDS);
GO

--Start the session
ALTER EVENT SESSION LongRunningSP ON SERVER  
STATE = start;  
GO

Calling the stored procedure.

In [12]:
USE [AdventureWorks];
GO
ALTER DATABASE SCOPED CONFIGURATION CLEAR PROCEDURE_CACHE;
GO
EXEC sp_executesql N'exec Sales.SalesFromDate @P1',N'@P1 datetime2(0)','2011-3-28 00:00:00';
GO

Stop the session

In [13]:
ALTER EVENT SESSION LongRunningSP ON SERVER  
STATE = stop;  
GO

Looking at the result.

In [14]:
SELECT CAST(event_data AS XML) xml_event_data, *
FROM sys.fn_xe_file_target_read_file('C:\Temp\LongRunningSP*.xel', 'C:\Temp\LongRunningSP*.xem', NULL, NULL);
GO

### Clean up

Drop the session.

In [ ]:
IF EXISTS(SELECT *
FROM sys.server_event_sessions
WHERE name='LongRunningSP')
  DROP EVENT session LongRunningSP ON SERVER;
GO

# Why Order Matters?

### Using Example from: 

https://docs.microsoft.com/en-us/archive/blogs/extended_events/try-a-sample-using-the-counter-predicate-for-event-sampling#why-order-matters

|Iteration	| Statement                |Pred1 Counter	 | Pred2 Counter |
| -:-| :---      |-:-   | -:- |
| A          | Not statement_1           | 0                | 1 |
| B	        | statement_1	           | 1	             | 2 |
| C	        | Not statement_1	       | 1	             | 3 |
 |D	        | statement_1	           | 2	               | 4 |


 ## What will be the result of following predicate order?

1. Pred1: (WHERE statement_1 AND package0.counter = 2)
1. Pred2: (WHERE package0.counter = 2 AND statement_1)

## Some helpful Queries

Copied From:

[Todayâ€™s Subject: Predicates](https://blogs.msdn.microsoft.com/extended_events/2010/06/23/todays-subject-predicates/)

In [ ]:
--Find all the predicate source
SELECT name, description,
  (SELECT name
  FROM sys.dm_xe_packages
  WHERE guid = o.package_guid) package
FROM sys.dm_xe_objects o
WHERE object_type = 'pred_source'
ORDER BY name;

--Find Predicate comparator
SELECT name, description,
  (SELECT name
  FROM sys.dm_xe_packages
  WHERE guid = o.package_guid) package
FROM sys.dm_xe_objects o
WHERE object_type = 'pred_compare'
ORDER BY name;

--Mapping of wait_types to integers
SELECT *
FROM sys.dm_xe_map_values
WHERE name = 'wait_types';